* {
  margin: 0;
  padding: 0;
}

.page {
  position: relative;
  min-height: 100vh;
}

.section {
  width: 100%;
}

.header {
  background-color: #0FA04E;
  background-image: url('images/header-narrow-stamped.png');
  background-repeat: no-repeat;
  background-position: center; 
  background-size: contain;
  height: 200px;
}

.content-text {
  padding: 10px;
  font-size: 20px;
  font-family: Lato,sans-serif;
  font-style: normal;
  font-weight: 600;
  color: #333;
  line-height: 1.6;
  width: auto;
}

.content {
  padding-bottom: 60px;
}

.footer {
  background-color: #EB2831;
  position: absolute;
  bottom: 0;
  height: 60px;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .header {
    background-image: url('images/header-wide-stamped.png');
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .page {
    width: 960px;
    margin: 0 auto;
  }
  .header {
    background-image: url('images/header-wide-stamped.png');
  }
}
